
    <div class="wrapper-black">
    
        <div class="popup-header">
              <div class="container-lg">
                  <div class="popup-logo"><a routerLink="/profiles"><img src="assets/images/logo-white.svg" alt=""></a></div>
                  <a href="#" class="close-icon" routerLink="/profiles" ></a>
             </div>
        </div><!--popup-header-->
        
        <div class="popup-content">
             <div class="container-lg">
                  <div class="cnt">
                          <div class="step-left">
                            <h3>Ansøgningsskema</h3>
                            <p>For at ansøge om en profil, bedes du udfylde felterne og klikke videre til næste side.</p>
                       </div>
                       
                       <div class="step-right">
                            <h4>PERSONLIG INFO </h4>
                            <div class="step-block1">
                                  <div class="form-row"><input type="text" class="input1" placeholder="Email"></div>
                                 <div class="row">
                                      <div class="col-6"><div class="form-row"><input type="text" class="input1" placeholder="Mobil"></div></div>
                                      <div class="col-6"><div class="form-row"><input type="text" class="input1" placeholder="Telefon"></div></div>
                                 </div>
                                 <div class="form-row"><input type="text" class="input1" placeholder="Beskæftigelse"></div>
                            </div>
                            
                            <div class="step-block2">
                                 <div class="row">
                                      <div class="col-4">
                                          <div class="form-row">
                                               <select class="custom-select">
                                                 <option>Dag</option>
                                                 <option>Dag 1</option>
                                                 <option>Dag 2</option>
                                              </select>
                                          </div>
                                       </div>
                                       <div class="col-4">
                                          <div class="form-row">
                                               <select class="custom-select">
                                                 <option>Måned</option>
                                                 <option>Måned 1</option>
                                                 <option>Måned 2</option>
                                              </select>
                                          </div>
                                       </div>
                                       <div class="col-4">
                                          <div class="form-row">
                                               <select class="custom-select">
                                                 <option>År</option>
                                                 <option>År 1</option>
                                                 <option>År 2</option>
                                              </select>
                                          </div>
                                       </div>
                                 </div>
                                 <div class="form-row"><input type="text" class="input1" placeholder="Etnisk oprindelse"></div>
                                 <div class="form-row">
                                        <select class="custom-select">
                                         <option>Køn</option>
                                         <option>Køn 1</option>
                                         <option>Køn 2</option>
                                      </select>

                                 </div>
                            </div>
                       </div>
                       
                  </div>
                  
                  <div class="step-bottom">
                       <div class="bottom-left">
                            <h2><span>02</span>/07</h2>
                       </div>
                          <div class="bottom-right"><a class="prev-btn" routerLink="/login/1">FORRIGE</a><a class="prev-btn" routerLink="/login/3">NÆSTE</a></div>
                  </div>
             </div>
        </div><!--popup-content-->
        
   </div><!--popup1-->