.profiles_loader{
    background: url('/assets/images/loader/PolygonLoader.svg');
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}
.gender_select{
    border: 2px solid gray;
    background-color:#fff;
    color:black !important;
    font-weight: bold;
}
.side-submit{
    margin-bottom: 10px;
}
.empty-results-error {
	color: red;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.userInfoWrapper{
  position: absolute;
  top: 0;
  left: 0;
}
