
    <div class="wrapper-black">
    
        <div class="popup-header">
              <div class="container-lg">
                  <div class="popup-logo"><a href="#"><img src="assets/images/logo-white.svg" alt=""></a></div>
                  <a href="#" class="download-btn"><span class="download-icon"></span>DOWNLOAD</a>
                  <a href="#" class="add-btn"><span class="add-icon"></span>ADD TO LIGHTBOX</a>
                  <a href="#" class="close-icon"></a>
             </div>
        </div><!--popup-header-->
        
        <div class="popup-content">
             <div class="container-lg">
                 <div class="popup-left">
                      <div class="popup-side-block">
                           <h4>Billeder</h4>
                           <h3>16</h3>
                      </div>
                      <div class="popup-side-block">
                           <h4>Videoer</h4>
                           <h3>4</h3>
                      </div>
                 </div>
                 
                 <div class="popup-right">
                        <div class="popup-right-block1">
                              <ul class="list4"> 
                               <li><a href="#"><img src="assets/images/thumb2.png" alt=""/></a></li>
                               <li><a href="#"><img src="assets/images/thumb2.png" alt=""/></a></li>
                               <li><a href="#"><img src="assets/images/thumb2.png" alt=""/></a></li>
                               <li><a href="#"><img src="assets/images/thumb2.png" alt=""/></a></li>
                               <li><a href="#"><img src="assets/images/thumb2.png" alt=""/></a></li>
                               <li><a href="#"><img src="assets/images/thumb2.png" alt=""/></a></li>
                               <li><a href="#"><img src="assets/images/thumb2.png" alt=""/></a></li>
                               <li><a href="#"><img src="assets/images/thumb2.png" alt=""/></a></li>
                               <li><a href="#"><img src="assets/images/thumb2.png" alt=""/></a></li>
                               <li><a href="#"><img src="assets/images/thumb2.png" alt=""/></a></li>
                               <li><a href="#"><img src="assets/images/thumb2.png" alt=""/></a></li>
                               <li><a href="#"><img src="assets/images/thumb2.png" alt=""/></a></li>
                               <li><a href="#"><img src="assets/images/thumb2.png" alt=""/></a></li>
                               <li><a href="#"><img src="assets/images/thumb2.png" alt=""/></a></li>
                               <li><a href="#"><img src="assets/images/thumb2.png" alt=""/></a></li>
                               <li><a href="#"><img src="assets/images/thumb2.png" alt=""/></a></li>
                           </ul>
                           <ul class="list2"> 
                               <li><a href="#"><img src="assets/images/thumb3.png" alt=""/></a></li>
                               <li><a href="#"><img src="assets/images/thumb3.png" alt=""/></a></li>
                               <li><a href="#"><img src="assets/images/thumb3.png" alt=""/></a></li>
                               <li><a href="#"><img src="assets/images/thumb3.png" alt=""/></a></li>
                           </ul>
                      </div>
                      
                      <div class="popup-right-block2">
                           <div class="big-thumb">
                           <img src="assets/images/thumb4.png" alt=""/>
                           </div>
                           <div class="popup-gallery-controlls">
                                <a href="#" class="prev1"></a>
                                <a href="#" class="next1"></a>
                           </div>
                      </div>
                      
                      <div class="popup-right-block3">
                              <h2>Totte. <strong>CM3902</strong></h2>
                           <h3>MODEL</h3>
                           <table>
                               <tbody>
                                   <tr>
                                       <td>Alder</td>
                                       <td>38 år </td>
                                   </tr>
                                   <tr>
                                       <td>Højde</td>
                                       <td>183 cm</td>
                                   </tr>
                                   <tr>
                                       <td>Vægt</td>
                                       <td>78 kg</td>
                                   </tr>
                                   <tr>
                                       <td>Øjenfarve</td>
                                       <td>Grønne</td>
                                   </tr>
                                   <tr>
                                       <td>Hårfarve</td>
                                       <td>Sort</td>
                                   </tr>
                                   <tr>
                                       <td>Bluse</td>
                                       <td>48 - 36</td>
                                   </tr>
                                   <tr>
                                       <td>Bukser</td>
                                       <td>30 - 32</td>
                                   </tr>
                                   <tr>
                                       <td>Sko</td>
                                       <td>43 - 44</td>
                                   </tr>
                               </tbody>
                           </table>
                           <h4>SPORT & HOBBY</h4>
                           <p>-</p>
                           
                           <h4>ERFARING</h4>
                           <p>Teater. Modeshow. Radio. Foto. Reklamefilm. Musikvideo</p>
                           
                           <h4>SPROG</h4>
                           <p>-</p>
                           
                           <h4>KØREKORT</h4>
                           <p>Bil</p>
                      </div>
                 </div>
             </div>
        </div><!--popup-content-->
        
   </div><!--popup1-->