<castit-header></castit-header>

<div class="home-section">
  <div class="container-lg">
    <div id="content" class="main_content">
      <div class="row">
        <div class="mobileOptions col-12">
          <button class="btn searchIcon" type="button" data-toggle="collapse" data-target="#searchBox" aria-expanded="false" aria-controls="collapseExample">
            <img src="/assets/images/search.svg" alt=""  title="Search">
          </button>
          <!-- <button class="btn lightboxIcon" type="button" data-toggle="collapse" data-target="#lightbox" aria-expanded="false" aria-controls="collapseExample">
            <img src="/assets/images/lightbox.svg" alt=""  title="Search">
          </button> -->
        </div>

        <div id="searchBox" class="leftbar full-screen-xs">
            <p>LIGHTBOX: </p>
            <p>{{groupName}}</p>
            <br />
            <p>{{ 'lightbox.createdBy' | translate }}: </p>
            <p>{{sharedBy}}</p>
            <br />
            <p>{{ 'lightbox.instructionOne' | translate }}</p>
            <span class="side-icon3" id="tab_group1"></span>
            <br />
            <p>{{ 'lightbox.instructionTwo' | translate }}</p>
        </div>
        <!--leftbar-->

        <div class="rightbar">
          <div class="rightbar_inner scrollbar">
            <div class="overflow">
              <ul>
                <!-- <li>
                  <div class="galler-thumb">
                    <img [src]="defaultImage" alt="" />
                    <a href="javascript:void(0)" class="plus-icon"></a>
                    <div class="gallery-hover">
                      <p>Venkatesh CM8090<br><strong>35 år</strong></p>
                    </div>
                  </div>
                </li> -->

                <li *ngFor="let item of data">
                  <div class="galler-thumb">
                    <img (click)="loadProfile(item.uid)" alt="" [lazyLoad]="(item.field_photo_thumbnails_export[0]) ? item.field_photo_thumbnails_export[0].url : item.field_photos_export[0].url" [defaultImage]="defaultImage" [errorImage]="profileFallback" />
                    <!-- <a href="javascript:void(0)" class="plus-icon" (click)="addModelToLightbox(item)"></a> -->
                    <div class="gallery-hover">
                      <p>{{ item.field_first_name_export }} {{ item.field_profile_number_export }}<br><strong>{{ appService.getAge(item.field_birthday_export) }} {{ 'profiles.years' | translate }}</strong></p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="gallery-controlls">
            <a href="javascript:void(0)" class="controll-top"></a>
            <a href="javascript:void(0)" class="controll-down"></a>
          </div>
        </div>
        <!--rightbar-->


      </div>
    </div>
  </div>
</div>

<app-lightboxsidebar [lightboxID]="lbid" [groupName]="groupName"></app-lightboxsidebar>
<app-addtolightbox *ngIf="userprofileService.showAddToLightboxComponent"></app-addtolightbox>
<router-outlet></router-outlet>
