<div class="popup1">

  <div class="popup-header">
      <div class="container-lg">
          <div class="popup-logo"><a href="javascript:void(0)" [routerLink]="['/profiles']"><img src="assets/images/logo-white.svg" alt=""></a></div>
          <a href="javascript:void(0)" class="close-icon" [routerLink]="['/profiles']"></a>
      </div>
  </div>
  <!--popup-header-->

  <div class="popup-content">
      <div class="container-lg">
          <div class="cnt">
              <div class="cnt-block1">
                  <h3>{{ 'login.resetPassword' | translate }}</h3>
                  <p> {{ 'login.resetInstruction' | translate }} </p>
                  <div class="form-block">
                      <div class="form-row button-row">
                          <a href="javascript:void(0)" class="back-btn reset-info-button" [routerLink]="['/profiles']">Tilbage</a>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
  <!--popup-content-->
</div>
<!--popup1-->
<router-outlet></router-outlet>
