  
    <div class="wrapper-black">
    
        <div class="popup-header">
              <div class="container-lg">
                  <div class="popup-logo"><a routerLink="/profiles"><img src="assets/images/logo-white.svg" alt=""></a></div>
                  <a href="#" class="close-icon" routerLink="/profiles" ></a>
             </div>
        </div><!--popup-header-->
        
        <div class="popup-content">
             <div class="container-lg">
                  <div class="cnt">
                          <div class="step-left">
                            <h3>Ansøgningsskema</h3>
                            <p>For at ansøge om en profil, bedes du udfylde felterne og klikke videre til næste side.</p>
                       </div>
                       
                       <div class="step-right">
                            <div class="step-block9">
                                  <h4>LIDT OM MIG</h4>
                                 <div class="form-row"><textarea class="textarea2" placeholder="Skriv note..."></textarea></div>
                                 <h4>SPORT & HOBBY</h4>
                                 <div class="form-row"><textarea class="textarea2" placeholder="Skriv note..."></textarea></div>
                            </div>
                            
                            <div class="step-block10">
                                 <h4>KATEGORI<strong>/ Vælg én eller flere</strong></h4>
                                 <div class="form_box">
                                     <span class="button1">Ny<span class="plus-icon2"></span></span>
                                   <span class="button1">Skuespiller<span class="plus-icon2"></span></span>
                                   <span class="button1">Amatørskuespiller<span class="plus-icon2"></span></span>
                                   <span class="button1">Danser<span class="plus-icon2"></span></span>
                                   <span class="button1">Model<span class="plus-icon2"></span></span>
                                   <span class="button1">Skuespiller<span class="plus-icon2"></span></span>
                                   <span class="button1">Model<span class="plus-icon2"></span></span>
                                   <span class="button1">Ny<span class="plus-icon2"></span></span>
                                   <span class="button1">Amatørskuespiller<span class="plus-icon2"></span></span>
                                   <span class="button1">Danser<span class="plus-icon2"></span></span>
                                 </div>
                                 
                                 <h4>ERFARING</h4>
                                 <div class="form_box">
                                     <span class="button1">Ny<span class="plus-icon2"></span></span>
                                   <span class="button1">Skuespiller<span class="plus-icon2"></span></span>
                                   <span class="button1">Amatørskuespiller<span class="plus-icon2"></span></span>
                                   <span class="button1">Danser<span class="plus-icon2"></span></span>
                                   <span class="button1">Model<span class="plus-icon2"></span></span>
                                   <span class="button1">Amatørskuespiller<span class="plus-icon2"></span></span>
                                   <span class="button1">Danser<span class="plus-icon2"></span></span>
                                   <span class="button1">Model<span class="plus-icon2"></span></span>
                                   <span class="button1">Skuespiller<span class="plus-icon2"></span></span>
                                   <span class="button1">Model<span class="plus-icon2"></span></span>
                                   <span class="button1">Ny<span class="plus-icon2"></span></span>
                                   <span class="button1">Ny<span class="plus-icon2"></span></span>
                                   <span class="button1">Skuespiller<span class="plus-icon2"></span></span>
                                   <span class="button1">Amatørskuespiller<span class="plus-icon2"></span></span>
                                   <span class="button1">Danser<span class="plus-icon2"></span></span>
                                   <span class="button1">Ny<span class="plus-icon2"></span></span>
                                   <span class="button1">Skuespiller<span class="plus-icon2"></span></span>
                                 </div>
                                 
                                 <h4>KØREKORT</h4>
                                 <div class="form_box">
                                     <span class="button1">Model<span class="plus-icon2"></span></span>
                                   <span class="button1">Skuespiller<span class="plus-icon2"></span></span>
                                   <span class="button1">Model<span class="plus-icon2"></span></span>
                                   <span class="button1">Ny<span class="plus-icon2"></span></span>
                                 </div>
                                 
                            </div>
                       </div>
                       
                  </div>
                  
                  <div class="step-bottom">
                       <div class="bottom-left">
                            <h2><span>04</span>/07</h2>
                       </div>
                          <div class="bottom-right"><a class="prev-btn" routerLink="/login/3">FORRIGE</a><a class="prev-btn" routerLink="/login/5">NÆSTE</a></div>
                  </div>
             </div>
        </div><!--popup-content-->
        
   </div><!--popup1-->