<div class="blur-overlay">
<div class="lds-facebook">
    <!-- <div></div><div></div><div></div> -->
    <!-- <div></div><div></div><div></div> -->
    <!-- <div></div><div></div><div></div> -->
    <!-- {{ popupType }} -->
    <div *ngIf="popupType === 'reset'">
        <p class="popup-title"></p>
        <p class="popup-message"> {{ 'login.resetMessage' | translate }} </p>
    </div>
    
    <div *ngIf="popupType === 'newPassword'">
        <p class="popup-title"> {{'login.newPasswordSuccess' | translate }} </p>
        <p class="popup-message"> {{ 'login.newPasswordMessage' | translate }} </p>
    </div>
    
</div>
<a href="javascript:void(0)" class="close-icon" (click)="closeToRedirect()"></a>
</div>
