<div class="wrapper-black">

    <div class="popup-header">
        <div class="container-lg">
            <div class="popup-logo"><a routerLink="/profiles"><img src="assets/images/logo-white.svg" alt=""></a></div>
            <a class="close-icon" routerLink="/profiles"></a>
        </div>
    </div>
    <!--popup-header-->

    <div class="popup-content">
        <div class="container-lg">
            <div class="cnt">
                <div class="step-right">
                    <h4>Profil </h4>
                    <div class="step-block1">
                        <div class="form-row"><input (change)="checkEmail()" type="text" name="email" class="input1" placeholder="Email"
                                [(ngModel)]="userprofileService.userProfile[0].name_export"></div>
                                <span class="alert" *ngIf="inValidEmail">{{ 'profileUpdate.inValidEmail' | translate }}</span>
                                <span class="alert" *ngIf="emailExists">{{ 'profileUpdate.emailExists' | translate }}</span>
                        <div class="form-row"><input name="org"
                                [(ngModel)]="userprofileService.userProfile[0].field_organization_export" type="text"
                                class="input1" placeholder="Virksomhed"></div>
                        <div class="form-row"><input name="telephone"
                                [(ngModel)]="userprofileService.userProfile[0].field_telephone_export[0]" type="text"
                                class="input1" placeholder="Telefon"></div>
                        <div class="form-row"><input name="pass" type="password" class="input1"
                                placeholder="Vælg kodeord"></div>
                        <div class="form-row"><input name="cpass" type="password" class="input1"
                                placeholder="Gentag kodeord"></div>
                        <div class="form-row"><input name="submitbutton" type="button" (click)="checkEmail();saveUser('customer')"
                                disabled="inValidEmail || emailExists" class="submit1 m-top-24 cursor-pointer" value="Gem profil">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--popup-content-->

</div>
<!--popup1-->
<router-outlet></router-outlet>