<div id="wrapper" class="admin-userinfo">
  <!-- {{ adminService.userData | json }} Padmanabhann -->
  <div id="content">
    <div class="page-top page-top2">
      <div class="container">
        <h2>{{ adminService.userData[0].field_first_name_export }} .
          {{ adminService.userData[0].field_profile_number_export }}</h2>
        <div class="upload-sec">
          <div class="box1">

          </div>

          <div class="box2">
            <a class="upload-btn cursor-pointer" (click)="openUploadModal()">Upload</a>
          </div>
          <a class="upload-close" href="javascript:void(0)" (click)="adminService.closePanel()"></a>
        </div>
      </div>
    </div>
    <!--close page-top-->

    <div class="page-bottom">
      <div class="container">
        <div class="tabs">
          <input class="input" name="tabs" type="radio" id="tab-1" checked="checked" />
          <label class="label" for="tab-1">Billeder</label>
          <div class="panel">
            <h1>Code refactoring in progress</h1>
            <!-- <h1>Billeder</h1> -->
            <!-- <p>hhh</p> -->
            <!--  -->
            <div *ngFor="let photoUrl of adminService.userData[0].field_photos_export; let i = index" class="product-box" id="media_id">
              <div class="product-box-inner">
                <div class="img-box">
                  <img class="profileimg" [lazyLoad]="photoUrl" [defaultImage]="defaultImage" [errorImage]="profileFallback" alt="">
                  <img onclick="openModal();currentSlide(gallery_id)" class="overlay" src="assets/images/admin/image.png" alt="">
                </div>
                <div class="btn-sec">
                  <div class="btnleft">
                    <div class="example">
                      <input id="chkToggle" type="checkbox" data-toggle="toggle" data-on="Enabled" data-off="Disabled" [checked]="true" mediatype="image"
                        mediaid="media_id">
                    </div>
                  </div>
                  <div class="btnright">
                    <a class="slet-btn" mediaid="media_id" mediatype="mediatype" href="#">Slet</a>
                  </div>
                </div>
              </div>
            </div>
            <!--  -->
          </div>
          <input class="input" name="tabs" type="radio" id="tab-2" />
          <label class="label" for="tab-2">Videoer</label>
          <div class="panel">
            <h1>Code refactoring in progress</h1>
            <div *ngFor="let photoUrl of adminService.userData[0].field_video_thumbnails_export; let i = index" class="product-box" id="media_id">
              <div class="product-box-inner">
                <div class="img-box">
                  <img class="profileimg" [lazyLoad]="photoUrl" [defaultImage]="defaultImage" [errorImage]="profileFallback" alt="">
                  <img onclick="openModal();currentSlide(gallery_id)" class="overlay" src="assets/images/admin/image.png" alt="">
                </div>
                <div class="btn-sec">
                  <div class="btnleft">
                    <div class="example">
                      <input id="chkToggle" type="checkbox" data-toggle="toggle" data-on="Enabled" data-off="Disabled" [checked]="true" mediatype="image"
                        mediaid="media_id">
                    </div>
                  </div>
                  <div class="btnright">
                    <a class="slet-btn" mediaid="media_id" mediatype="mediatype" href="#">Slet</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <input class="input" name="tabs" type="radio" id="tab-3" />
          <label class="label" for="tab-3">Blandet</label>
          <div class="panel">
            <h1>Code refactoring in progress</h1>
            <!-- photos -->
            <div *ngFor="let photoUrl of adminService.userData[0].field_photos_export; let i = index" class="product-box" id="media_id">
              <div class="product-box-inner">
                <div class="img-box">
                  <img class="profileimg" [lazyLoad]="photoUrl" [defaultImage]="defaultImage" [errorImage]="profileFallback" alt="">
                  <img onclick="openModal();currentSlide(gallery_id)" class="overlay" src="assets/images/admin/image.png" alt="">
                </div>
                <div class="btn-sec">
                  <div class="btnleft">
                    <div class="example">
                      <input id="chkToggle" type="checkbox" data-toggle="toggle" data-on="Enabled" data-off="Disabled" [checked]="true" mediatype="image"
                        mediaid="media_id">
                    </div>
                  </div>
                  <div class="btnright">
                    <a class="slet-btn" mediaid="media_id" mediatype="mediatype" href="#">Slet</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- videos -->
            <div *ngFor="let photoUrl of adminService.userData[0].field_video_thumbnails_export; let i = index" class="product-box" id="media_id">
              <div class="product-box-inner">
                <div class="img-box">
                  <img class="profileimg" [lazyLoad]="photoUrl" [defaultImage]="defaultImage" [errorImage]="profileFallback" alt="">
                  <img onclick="openModal();currentSlide(gallery_id)" class="overlay" src="assets/images/admin/image.png" alt="">
                </div>
                <div class="btn-sec">
                  <div class="btnleft">
                    <div class="example">
                      <input id="chkToggle" type="checkbox" data-toggle="toggle" data-on="Enabled" data-off="Disabled" [checked]="true" mediatype="image"
                        mediaid="media_id">
                    </div>
                  </div>
                  <div class="btnright">
                    <a class="slet-btn" mediaid="media_id" mediatype="mediatype" href="#">Slet</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<script>
  $(function(){
    $('#chkToggle').bootstrapToggle();
  });
</script>