    
    <div class="wrapper-black">
    
        <div class="popup-header">
              <div class="container-lg">
                  <div class="popup-logo"><a routerLink="/profiles"><img src="assets/images/logo-white.svg" alt=""></a></div>
                  <a href="#" class="close-icon" routerLink="/profiles" ></a>
             </div>
        </div><!--popup-header-->
        
        <div class="popup-content">
             <div class="container-lg">
                  <div class="cnt">
                          <div class="step-left">
                            <h3>Ansøgningsskema</h3>
                            <p>For at ansøge om en profil, bedes du udfylde felterne og klikke videre til næste side.</p>
                       </div>
                       
                       <div class="step-right">
                            <h4>PERSONLIG INFO </h4>
                            <div class="child-option">
                                  <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="customCheck" name="">
                                      <label class="custom-control-label" for="customCheck">Vis børnestørrelser</label>
                                 </div>
                            </div>
                            <div class="step-block1 w-360">
                                 <div class="row">
                                      <div class="col-6">
                                          <div class="form-row">
                                               <select class="custom-select">
                                                 <option>Skjorter fra</option>
                                                 <option>Skjorter fra 1</option>
                                                 <option>Skjorter fra 2</option>
                                              </select>
                                          </div>
                                       </div>
                                       <div class="col-6">
                                          <div class="form-row">
                                               <select class="custom-select">
                                                 <option>Skjorter til</option>
                                                 <option>Skjorter til 1</option>
                                                 <option>Skjorter til 2</option>
                                              </select>
                                          </div>
                                       </div>
                                 </div>
                                 <div class="row">
                                      <div class="col-6">
                                          <div class="form-row">
                                               <select class="custom-select">
                                                 <option>Bukser fra</option>
                                                 <option>Bukser fra 1</option>
                                                 <option>Bukser fra 2</option>
                                              </select>
                                          </div>
                                       </div>
                                       <div class="col-6">
                                          <div class="form-row">
                                               <select class="custom-select">
                                                 <option>Bukser til</option>
                                                 <option>Bukser til 1</option>
                                                 <option>Bukser til 2</option>
                                              </select>
                                          </div>
                                       </div>
                                 </div>
                                 <div class="row">
                                      <div class="col-6">
                                          <div class="form-row">
                                               <select class="custom-select">
                                                 <option>Sko fra</option>
                                                 <option>Sko fra 1</option>
                                                 <option>Sko fra 2</option>
                                              </select>
                                          </div>
                                       </div>
                                       <div class="col-6">
                                          <div class="form-row">
                                               <select class="custom-select">
                                                 <option>Sko til</option>
                                                 <option>Sko til 1</option>
                                                 <option>Sko til 2</option>
                                              </select>
                                          </div>
                                       </div>
                                 </div>
                                 <div class="row">
                                      <div class="col-6">
                                          <div class="form-row">
                                               <select class="custom-select">
                                                 <option>Jakkesæt fra</option>
                                                 <option>Jakkesæt fra 1</option>
                                                 <option>Jakkesæt fra 2</option>
                                              </select>
                                          </div>
                                       </div>
                                       <div class="col-6">
                                          <div class="form-row">
                                               <select class="custom-select">
                                                 <option>Jakkesæt til</option>
                                                 <option>Jakkesæt til 1</option>
                                                 <option>Jakkesæt til 2</option>
                                              </select>
                                          </div>
                                       </div>
                                 </div>
                            </div>
                            
                            <div class="step-block2 w-360">
                                 <div class="row">
                                      <div class="col-6">
                                          <div class="form-row">
                                               <select class="custom-select">
                                                 <option>Højde</option>
                                                 <option>Højde 1</option>
                                                 <option>Højde 2</option>
                                              </select>
                                          </div>
                                       </div>
                                       <div class="col-6">
                                          <div class="form-row">
                                               <select class="custom-select">
                                                 <option>Vægt</option>
                                                 <option>Vægt 1</option>
                                                 <option>Vægt 2</option>
                                              </select>
                                          </div>
                                       </div>
                                 </div>
                                 <div class="row">
                                      <div class="col-6">
                                          <div class="form-row">
                                               <select class="custom-select">
                                                 <option>Hårfarve</option>
                                                 <option>Hårfarve 1</option>
                                                 <option>Hårfarve 2</option>
                                              </select>
                                          </div>
                                       </div>
                                       <div class="col-6">
                                          <div class="form-row">
                                               <select class="custom-select">
                                                 <option>Øjenfarve</option>
                                                 <option>Øjenfarve 1</option>
                                                 <option>Øjenfarve 2</option>
                                              </select>
                                          </div>
                                       </div>
                                 </div>
                                 
                            </div>
                       </div>
                       
                  </div>
                  
                  <div class="step-bottom">
                       <div class="bottom-left">
                            <h2><span>03</span>/07</h2>
                       </div>
                          <div class="bottom-right"><a class="prev-btn" routerLink="/login/2">FORRIGE</a><a class="prev-btn" routerLink="/login/4">NÆSTE</a></div>
                  </div>
             </div>
        </div><!--popup-content-->
        
   </div><!--popup1-->